body {
  font-family: /* 'Montserrat', */ roboto, sans-serif;
  font-weight: 300;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  color: #f1f1f1;
}

.container {
  width: 70%;
  padding: 50px;
  margin: 0 auto;
}

#clock {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
  width: 100%;
  height: 150px;
  text-align:center;
  text-align: center;
}

#clock * {
  text-shadow: 1px 1px 10px #222;

}

#display-time {
  font-size:6em;
  line-height:1em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 550px;
  margin: 0 auto;
}
/*  animation for timer */
@-moz-keyframes FadeIn {
  from {color: #FFCD55;}
  to {color: #777;}
}
@-webkit-keyframes FadeIn {
  from {color: #FFCD55;}
  to {color: #777;}
}
@keyframes FadeIn {
  from {color: #FFCD55;}
  to {color: #777;}
}

/* animation for time up */
@-moz-keyframes TimeUp {
  from {color: #FF5555;}
  to {color: #777;}
}
@-webkit-keyframes TimeUp {
  from {color: #FF5555;}
  to {color: #777;}
}
@keyframes TimeUp {
  from {color: #FF5555;}
  to {color: #777;}
}

#hour, #min, #sec{
  min-width: 150px;
  padding: 10px;
}


#milli-sec {
  font-size:.5em;
  min-width: 80px;
  color: #999;
  opacity: 0.5;
  position: relative;
  bottom: 7px;
  right: 10px;
}

.time-names {
  margin: 0 auto;
  width: 415px;
  display: flex;
  justify-content:space-between;
}

#slider {
  -webkit-appearance:none;
  appearance:none;
  width: 100%;
  height: 5px;
  background: #959595;
  border-radius:5px;
  opacity:0.7;
  transition:opacity 200ms;
  outline:none;
}

#slider:hover {
  opacity:1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CACAF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
}

#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CACAF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
}


.range-slider__value {
  display: inline-block;
  position: relative;
  width: 40px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background:#2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

 .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
 }
